*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}


:root{
    --blue-color:#2f9bdb;
    --color-primary: #f27669;
    --color-primary-dark: #007f67;
    --color-link: #39418a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
    --trasition : all 0.3s linear;
}
body{
     background-color: rgb(255, 255, 255);
     color: black;
     height: 200vh;
}

/* navbar */
/* nav{
    position: fixed;
} */

.nav-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 2rem;
    /* border: 2px solid rebeccapurple; */
    color: white;
    height: 55px;
    font-family: 'Roboto Mono', monospace;
    
    
}
.header{
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all 0.18s ease-in ;
}

.banner{
    background: url('../data/loclaImage/home_banner_road.jpg');
    min-height: 340px;
}
.logo{
      /* border: 2px solid darkblue; */
      width: 150px !important;
      
      padding: 5px 0;
      margin-right: 2rem;
}
.logo>img{
    width: 140px;
    height: 3rem;
}
.links{
    display: flex;
    /* width: 50rem; */
    /* border: 2px solid red; */
    justify-content: space-around;
}
li{
    list-style: none;
    margin: 0 1rem;
}
li>a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.links>li>button{
    padding: 5px 1.1rem;
    background-color: #2f3ca9;
    border-radius: var(--border-radius);
    color: white;
    border: none;
}
.search-hide{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    display: none;
}

/* .search-top{
    width: 25rem;
} */
.signin-small-btn{
    display: none;
}
.content{
    width: 100%;
    text-align: center;
    color: white;
    overflow: hidden;
    position: absolute;
        top: 120px;
}
.content>h1{
    letter-spacing: 2px;
    padding: 1rem 0;
}
.search{
    width: 50%;
    padding: 1rem 1rem;
    border-radius: 5px;
    min-width: 18rem;
    border: none;
}
.search-top{
    color: black;
    width: 100%;
    padding: 0 auto;
    min-width: 5rem;

}
.search-option{
    /* border: 2px solid red; */
   width: 25rem;
   max-width: 25rem;
   display: hidden;
}
.search-width-high{
    width: 100%;
}

.form-modal{
    position: fixed;
    top: 0; 
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 40, 40, 0.553);
    display: none;

}
.show-modal{
    display: flex;
    z-index: 10;
}
.form-container{
            width: 400px;
            max-width: 400px;
            margin: 1rem;
            padding: 2rem;
            
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
            border-radius: var(--border-radius);
            background: #ffffff;
}
.form-hidden{
    display: none;
}
.form-title{
    text-align: center;
    margin-bottom: 2rem;
}
.form-top-msg{
    text-align: center;
    padding: 3px;
    margin-bottom: 1rem;
}
.form-message-success {
    color: var(--color-success);
}

.form-message-error {
    color: var(--color-error);
}
.single-input{
    margin-bottom: 1rem;
}
.form-input{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    background-color: #eeeeee;
    border: 1px solid #dddddd;
}
.form-input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}
.form-input-error {
    color: var(--color-error);
    border-color: var(--color-error);
}
.input-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}
.form-btn{
        width: 100%;
        padding: 1rem 2rem;
        font-weight: bold;
        font-size: 1.1rem;
        margin: 3px 0;
        color: #ffffff;
        border: none;
        border-radius: var(--border-radius);
        outline: none;
        cursor: pointer;
        background: var(--color-primary);
}
.faceb{
    color: white;
    background-color: #2f3ca9;
}
.googleg{
    color: black;
    background-color: white;
}
i{
    margin-right: 3px;
}
.forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}
#remember{
    margin-right: 5px;
    font-size: 2rem;
}
a{
    
    text-decoration: none;
    cursor: pointer;
    color: rgb(49, 80, 179);
}
.form-text{
    text-align: center;
    padding: 9px;
}
#CreateAccount{
    padding: 5px;
    font-size: 1.08rem;
}
#linkCreateAccount,#linkLogin{
    color: #2f3ca9;
}
#linkCreateAccount:hover, #linkLogin:hover{
  text-decoration: underline;
}
.small-msg{
    font-size: 0.9rem;
    padding: 8px 0;
}

.sidebar{
    display: none;
    
}


/* tablet */
@media screen and (max-width:950px)  {
    nav{
        background-color: var(--blue-color);
    }
    .nav-center{
        padding: 5px 1rem;
      background-color: var(--blue-color);
    }
    .links{
        display: none;
    }
    .signin-small-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .signin-small-btn>h4{
        margin: 0 1rem;
    }
    .signin-small-btn>button{
        padding: 3px 9px;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.3rem;
    }
    .content{
        font-size: 0.8rem;
    }
    .search-option{
        display: none;
    }
    .search-hide{
        display: flex;
    }
   .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: #ffffff;
    width: 320px;
    height: 100vh;
    padding: 1rem 0;
    transform: translate(100%);
    transition: all 0.3s linear ;
    display: block;
    /* padding-top: 4rem; */
   }
   .sidebar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 9px;
}
.sidebar-top>img{
    width: 170px;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 1rem 2rem;
    border-radius: 1rem;

   }
   .sidebar-top>.close-btn{
    font-size: 2rem;
    border: none;
    color: rgb(3, 1, 1);
    background-color: white;
    background-color: transparent;
    border: transparent;
   }
  .side-signin{
    padding: 1px 9px;
    background:transparent;
    color: #2f3ca9;
    /* margin-left: 0.4rem; */
border: none;
  }
  .sidebar-middle{
     padding: 1rem 5px;
     /* border: 2px solid rebeccapurple; */
     background-color: rgba(0, 0, 0, 0.057);
  }
  .sidebar-middle>div{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.4rem;
  }
  .side-facebook,.side-google{
    padding: 7px 2.5rem;
    border: none;
    border-radius: var(--border-radius);
  }
  .side-facebook{
    background-color: rgb(63, 63, 188);
    color: white;

  }
  .side-google{
    background-color: #d1611b;
    color: white;
  }
  .sidebar-bottom{
     margin-top: 1rem;
  }
  .sidebar-bottom>li{
    padding: 7px;
    
  }
  .sidebar-bottom>li>a{
    color: black;
    font-weight: 600;
  }
  .sidebar-bottom>li>a:hover{
    color: var(--color-link) ;
  }
  .show-sidebar{
    transform: translate(0);
    z-index: 6;
    display: block;
    transition: all 0.3s ease-in;
  }
}

/* small screen */
/* @media  screen and (max-width:525px)  {
    
} */


/*  css for main container */

.main-container{
    width: 80%;
    min-height: 100vh;
    background-color: white;
    margin: auto;
}

.small-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 3rem 0;
    gap: 0 1rem;
}
.small-card>div>img{
    width: 90%;
}
/* spotlight */
.spotlight-top{
    width: 100%;
    background-color: #cc3333;

}
.spotlight-cards{
    display: grid;
    width: 98%;
    margin: auto;
    gap: 0 1rem;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    
}

.spotlight-cards>div>img{
    width: 100%;
    height: 170px;
}
.slider-auto{
    min-height: 20vh;
    background-color: #362d72;
}


.best-places-cards,.rajastan-places-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1.5rem;
font-size: 1.2rem;
}
.best-places-cards>div,
.rajastan-places-cards>div {
    padding: 1rem 0.3rem;
    /* border: 2px solid darkblue; */
    border-radius: 0.8rem;
}
.best-places-cards>div>img,
.rajastan-places-cards>div>img {
   width: 100%;
   border-radius: 0.8rem;
   height: 170px;
   max-height: 170px;
}
span{
    color: rgb(65, 65, 190);
}
.rajastan-places{
    min-height: 20vh;
    /* background-color: #643e5c; */
}
.rajastan-banner>img{
    width: 100%;
    border-radius: 1rem;
    min-height: 36vh;
}
.indonesia-places{
    min-height: 20vh;
    background-color: #3e6460;
}
.tripto-plan{
    min-height: 20vh;
    background-color: #57643e;
}
.creator-section{
    min-height: 20vh;
    background-color: #1b8b8d;
}
.footer-end{
    min-height: 20vh;
    background-color: #5d1c1c;
}
/* img{
    width: 200px;
    height: 160px;
} */



